<h1>Example App: Home</h1>

<div>
    <form class= "login-form" action="/user/login">
        <label for="fl_name"> Name</label>
        <input name="fl_name" type="text"><br>
        <label for="email"> Email</label>
        <input name="email" type="text"><br>
         <label for="password"> Password</label>
        <input name="password" type="text"><br>
         <label>Submit</label>
        <input type="submit">
    </form>
    
</div>